body {
  background: linear-gradient(to bottom, #b9daff, #609bf4);
}


.heading {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #889fbd, #081a58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.bookdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  flex-basis: calc(25% - 30px);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .bookdiv {
    flex-basis: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .bookdiv {
    flex-basis: calc(100% - 30px);
  }
}

.bookdiv:hover {
  transform: translateY(-5px);
}

.bookdiv img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bookdiv h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .bookdiv h2 {
    font-size: 20px;
  }
}

.bookdiv p {
  margin: 0;
  font-size: 18px;
  color: #777;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .bookdiv p {
    font-size: 16px;
  }
}

/* Add some color to the book covers */
.bookdiv:nth-child(odd) img {
  border: 5px solid #FFC300;
}

.bookdiv:nth-child(even) img {
  border: 5px solid #FF5733;
}
