/* Set global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: #f2f2f2;
  }
  
  /* Style the heading */
  .heading {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 50px 0;
    color: #333;
  }
  
  /* Style the container */
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 20px;
    padding: 20px;
  }
  
  /* Style the book div */
  .bookdiv {
    background-color: #c0a5bf;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  /* Style the book image */
  .bookdiv img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the book name */
  .bookdiv h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Style the book author */
  .bookdiv p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
  }
  
  /* Style the link button */
  .link-button {
    display: block;
    background-color: #00adb5;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .link-button:hover {
    background-color: #1e90ff;
  }
  